<!DOCTYPE html>
<html lang="en"
      th:replace="layouts/basic :: layout(~{::main})"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>course</title>
</head>
<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Course Overview</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form method="get" th:action="@{/course}">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Semester: </span>
                            </div>
                            <select class="form-control" id="semester" onchange="submit();" th:name="sid">
                                <option th:selected="${semester == null}" th:value="null">All</option>
                                <option th:each="sem : ${semesters}"
                                        th:selected="${sem.id == semester}"
                                        th:text="${sem.toString()}"
                                        th:value="${sem.id}"></option>
                            </select>

                        </div>
                    </div>
                </form>

            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-right" href="#" th:href="@{/course/create}">Add Course</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" th:each="course : ${courses}">
                <div class="card my-2 flex-fill"
                     th:classappend="${course.semester.id == latestSemester.id}? 'border-success' : ''">
                    <div class="card-body">
                        <a href="#" th:href="@{/course/{id}(id=${course.id})}">
                            <h4 class="card-title" th:text="${course.title}"></h4>
                        </a>
                        <h5 class="text-muted">
                            <span th:text="${course.code}"></span> (CRN <span th:text="${course.crn}"></span>)
                        </h5>

                        <h6>
                            <a th:href="@{/instructor/{id}(id=${course.instructor.id})}"
                               th:if="${course.instructor != null}"
                               th:text="${course.instructor}"></a>
                        </h6>
                        <span>Bldg/Rm: </span><span
                            th:text="${course.building} + '&mdash;' + ${course.room}"></span>
                        <br>
                        <span>Days/Time: </span><span th:text="${course.weekschedule}"></span> <span
                            th:text="${course.startTime} + '&mdash;' + ${course.endTime}"></span>
                        <br>
                        <h6 class="mt-2" th:text="${course.semester}"></h6>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>  