<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>course</title>
</head>
<body>
<main>
    Users will navigate to a course page for each of their individual courses, the course page will display information
    similar to what is shown in the prompt's excel spreadsheet report.

    Users will then be able to upload files to the page, view documents, add notes etc.
    <img alt="" src="#" th:src="@{/images/course_mock.jpg}" width="600">

</main>
</body>
</html>  