<!DOCTYPE html>
<html lang="en"
      th:replace="layouts/basic :: layout(~{::main})"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>course_detail</title>
</head>
<body>
<main>
    <form action="#" method="post" th:action="@{/course/{cid}(cid=${course.id})}" th:object="${gradeables}">
        <div class="container">
            <div class="card shadow border-0 mt-3">
                <div class="card-header text-center">
                    <a class="btn btn-info float-left" href="#"
                       th:href="@{/course/{id}/edit(id=${course.id})}">Edit Details</a>
                    <h2 class="d-inline" th:text="${course.title}"></h2>
                    <button class="btn btn-success float-right" name="save" type="submit">Save</button>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Course</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Grade</th>
                                    <th scope="col">Current Course</th>
                                    <th scope="col">Semester</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${course.title}"></td>
                                    <td th:text="${course.code}"></td>
                                    <!--                                    <td th:text="${#numbers.formatPercent(course.currentGrade, 2, 2)}"></td>-->
                                    <td th:text="${#numbers.formatPercent(course.weightedCurrentGrade, 2, 2)}"></td>
                                    <td th:text="${course.semester.id == latestSemester.id}"></td>
                                    <td th:text="${course.semester.toString()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--/* Instructor Link */-->
                    <th:block th:if="${course.instructor != null}">

                        <div class="row mb-3">
                            <div class="col">
                                <h4>Course Instructor: </h4>
                                <a th:href="@{/instructor/{id}(id=${course.instructor.id})}"
                                   th:text="${course.instructor.title} + ' ' + ${course.instructor.lastName}"></a>
                            </div>
                        </div>

                    </th:block>

                    <div class="row">
                        <div class="col">
                            <h4>Syllabi</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Version</th>
                                    <th scope="col">Document</th>
                                    <th scope="col">Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="syl : ${syllabi}">
                                    <td th:text="${syl.version}"></td>
                                    <td>
                                        <a th:href="@{/course/docs/syllabus/{id}(id=${syl.document.getId()})}"
                                           th:text="${syl.document.title}"></a>
                                    </td>
                                    <td th:text="${syl.comment}"></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <button class="btn btn-sm btn-info" name="syl" type="submit">Add Syllabus
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h4>Tests/Assignments</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Title*</th>
                                    <th scope="col">Weight</th>
                                    <th scope="col">Grade</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Optional</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="gradeable, stat : *{gradeables}">
                                    <input hidden th:field="*{gradeables[__${stat.index}__].id}">
                                    <input hidden th:field="*{gradeables[__${stat.index}__].owner}">
                                    <input hidden th:field="*{gradeables[__${stat.index}__].course}">
                                    <td>
                                        <input class="form-control" placeholder="Name"
                                               required th:field="*{gradeables[__${stat.index}__].title}">
                                    </td>
                                    <td>
                                        <input class="form-control" placeholder="Weight"
                                               th:field="*{gradeables[__${stat.index}__].weight}"
                                               type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" placeholder="Grade"
                                               th:field="*{gradeables[__${stat.index}__].grade}"
                                               type="number">
                                    </td>
                                    <td>
                                        <input class="form-control" placeholder="Due Date"
                                               th:field="*{gradeables[__${stat.index}__].dueDate}"
                                               type="date">
                                    </td>
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input"
                                                   th:field="*{gradeables[__${stat.index}__].optional}"
                                                   th:id="'opt' + ${stat.index}"
                                                   type="checkbox">
                                            <label class="custom-control-label"
                                                   th:for="'opt' + ${stat.index}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-danger" name="delRow"
                                                formnovalidate th:value="${stat.index}" type="submit">Delete
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-info" formnovalidate name="addRow" type="submit">
                                            Add Assignment
                                        </button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Documents & Handouts</h4>
                            <a class="btn btn-sm btn-info" href="#" onclick="alert('Feature not yet implemented');">Add
                                Document</a>
                            <div class="card-columns mt-3">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>

</main>
</body>
</html>  