<!DOCTYPE html>
<html lang="en"
      th:replace="layouts/basic :: layout(~{::main})"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit_semester</title>
</head>
<body>
<main>
    <div class="container">
        <div class="card w-50 mx-auto">
            <div class="card-body">
                <h4>Add New Instructor</h4>
                <form action="#" method="post" th:action="@{/course/create}" th:object="${instructor}">
                    <input hidden name="courseid" th:value="${courseid}">
                    <div class="row">
                        <div class="col">
                            <label for="title">Title:</label>
                            <input class="form-control" id="title" placeholder="Title" th:field="*{title}" type="text">
                            <label for="fname">First Name:</label>
                            <input class="form-control" id="fname" placeholder="First Name" th:field="*{firstName}"
                                   type="text">
                            <label for="lname">Last Name:</label>
                            <input class="form-control" id="lname" placeholder="Last Name" th:field="*{lastName}"
                                   type="text">
                            <label for="email">Email Address:</label>
                            <input class="form-control" id="email" placeholder="Email Address" th:field="*{email}"
                                   type="email">
                            <label for="phone">Office Phone:</label>
                            <input class="form-control" id="phone" placeholder="Phone Number" th:field="*{phone}"
                                   type="tel">
                            <label for="officeLoc">Office Location:</label>
                            <input class="form-control" id="officeLoc" placeholder="Office Location"
                                   th:field="*{officeLocation}" type="text">
                            <hr>
                            <h6>Office Hours:</h6>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">Start Time</th>
                                    <th scope="col">End Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="block, stat : *{officeHoursList}">
                                    <input hidden th:field="*{officeHoursList[__${stat.index}__].id}">
                                    <td>
                                        <select th:field="*{officeHoursList[__${stat.index}__].dayOfWeek}">
                                            <option value="MONDAY">Monday</option>
                                            <option value="TUESDAY">Tuesday</option>
                                            <option value="WEDNESDAY">Wednesday</option>
                                            <option value="THURSDAY">Thursday</option>
                                            <option value="FRIDAY">Friday</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control"
                                               th:field="*{officeHoursList[__${stat.index}__].startTime}" type="time">
                                    </td>
                                    <td>
                                        <input class="form-control"
                                               th:field="*{officeHoursList[__${stat.index}__].endTime}" type="time">
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-sm btn-success" name="addOfficeHours" type="submit">
                                            Add Availability
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a class="btn btn-danger mt-2" th:href="@{/course/create}" type="button">Cancel</a>
                            <input class="btn btn-success mt-2" name="commitInstructor" type="submit" value="Create">
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>


</main>
</body>
</html>  