<!DOCTYPE html>
<html lang="en"
      th:replace="layouts/basic :: layout(~{::main})"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gradeable_creation</title>
</head>
<body>
<main>
    <div class="card container">
        <div class="card-body">
            <h3 class="card-title">Edit Assignments</h3>
            <!--            <h5 th:text="${course.title}"></h5>-->
            <div class="row">
                <div class="col">
                    <form action="#" method="post" th:action="@{/gradeable/}" th:object="${course}">
                        <input hidden th:field="*{id}">
                        <input hidden th:field="*{title}">
                        <input hidden th:field="*{code}">
                        <input hidden th:field="*{student}">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Date Due</th>
                                <th scope="col">Optional?</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--                                <tr th:each="item, itemStat : *{gradeables}">-->
                            <!--                                    <input th:field="*{gradeables[__${itemStat.index}__].id}" hidden>-->
                            <!--                                    <td th:text="${itemStat.index}"></td>-->
                            <!--                                    <td>-->
                            <!--                                        <input class="form-control" placeholder="Name"-->
                            <!--                                               th:field="*{gradeables[__${itemStat.index}__].name}">-->
                            <!--                                    </td>-->
                            <!--                                    <td>-->
                            <!--                                        <input class="form-control" type="number" placeholder="Weight"-->
                            <!--                                               th:field="*{gradeables[__${itemStat.index}__].weight}">-->
                            <!--                                    </td>-->
                            <!--                                    <td>-->
                            <!--                                        <input class="form-control" type="number" placeholder="Grade"-->
                            <!--                                               th:field="*{gradeables[__${itemStat.index}__].grade}">-->
                            <!--                                    </td>-->
                            <!--                                    <td>-->
                            <!--                                        <input class="form-control" type="date" placeholder="Due Date"-->
                            <!--                                               th:field="*{gradeables[__${itemStat.index}__].date}">-->
                            <!--                                    </td>-->
                            <!--                                    <td>-->
                            <!--                                        <div class="custom-control custom-switch">-->
                            <!--                                            <input class="custom-control-input" type="checkbox"-->
                            <!--                                                   th:id="'opt' + ${itemStat.index}"-->
                            <!--                                                   th:field="*{gradeables[__${itemStat.index}__].optional}">-->
                            <!--                                            <label class="custom-control-label" th:for="'opt' + ${itemStat.index}"></label>-->
                            <!--                                        </div>-->
                            <!--                                    </td>-->
                            <!--                                </tr>-->
                            </tbody>
                        </table>
                        <button class="btn btn-info" name="addRow" type="submit">Add Item</button>
                        <button class="btn btn-success" name="save" type="submit">Save All</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--    <form action="#" method="post" class="w-50"-->
    <!--          th:action="@{/gradeable/{cid}/upsert(cid=${cid})}"-->
    <!--          th:object="${gradeable}">-->
    <!--        <input hidden th:value="*{id}" name="id">-->
    <!--        <div class="form-group">-->
    <!--            <label for="name">Item Name</label>-->
    <!--            <input class="form-control" type="text" id="name" th:field="*{name}">-->
    <!--        </div>-->
    <!--        <div class="form-group">-->
    <!--            <label for="weight">Item Weight (percent)</label>-->
    <!--            <input class="form-control" type="number" min="0" max="100" id="weight" th:field="*{weight}">-->
    <!--        </div>-->
    <!--        <div class="form-group">-->
    <!--            <label for="grade">Current Grade (percent)</label>-->
    <!--            <input class="form-control" type="number" value="0" min="0" max="100" id="grade" th:field="*{grade}">-->
    <!--        </div>-->
    <!--        <div class="form-group">-->
    <!--            <label for="date">Due Date</label>-->
    <!--            <input class="form-control" type="date" id="date" th:field="*{date}">-->
    <!--        </div>-->
    <!--        <div class="custom-control custom-switch">-->
    <!--            <input class="custom-control-input" type="checkbox" id="optional" th:field="*{optional}">-->
    <!--            <label for="optional" class="custom-control-label">Optional</label>-->
    <!--        </div>-->

    <!--        <input type="submit" class="btn btn-success" th:value="*{id} ? 'Update' : 'Create'">-->
    <!--        <a class="btn btn-danger" th:href="@{/course/{cid}(cid=${cid})}">Cancel</a>-->
    <!--    </form>-->
</main>
</body>
</html>  