<!DOCTYPE html>
<html lang="en"
      th:replace="layouts/basic :: layout(~{::main})"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Homepage</title>
</head>
<body>
<main>
    Logged in users will see a list of their current and archived courses here

    <p th:text="${student.username}"></p>

    <ul>
        <li th:each="course : ${student.courses}" th:text="${course.courseName}">

        </li>
    </ul>

    <a href="#" th:href="@{/course/create}">Add course</a>

</main>
</body>
</html>
